body {
    background-color: black;
    margin: 0;
    padding: 0;
}
.mainDiv {
    width: 600px;
    height: 600px;
    background-color: gray;
    margin: 0 auto;
    font-size: 0;
}
.mainDiv > div {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 50%;
    display: inline-block;
}
.red {
    background-color: red;
}
.yellow {
    background-color: yellow;
}
.green {
    background-color: green;
}